<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="app.css">

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="app.js"></script>

<head>
    <meta charset="UTF-8">
    <title>todo</title>
</head>
<body ng-app="todoApp">

<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">My To Do App</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
        </ul>
    </div>
</nav>

<div class="container" ng-controller="IndexPageController">
    <div class="row">
        <div class="col-lg-6">
            <input class="input-lg form-control fg-input" type="text" ng-model="query" placeholder="Search my to do's">
            <ul style="list-style: none;">
                <li ng-repeat="todo in list | filter:query">
                    <h3 class="{{todo.done ? 'line-through' : ''}}">
                        <input type="checkbox" ng-model="todo.done">
                        {{todo.name}}</h3>
                </li>
            </ul>
        </div>

        <div class="col-lg-6">
            <form ng-submit="submit()">
                <input class="input-lg form-control fg-input" type="text" ng-model="newItem"
                       placeholder="Add some to do"/>
                <br/>
                <button class="btn btn-default" type="submit">Add new to do</button>
            </form>
        </div>

    </div>
</div>

</body>
</html>